@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

/*    VARIABLES  
============================*/
:root {
    /* Navigation Variables */
    --content-width: 90%;
    --nav-height: 100px;
    --nav-background: #353333;
    --nav-font-color: #e3e3d3;
    --link-hover-color: #2581dc;
    --button-color: #d8bd63;
    --button-hover: #d15107;
    --box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --primary-color: #fff;
}

html {
    box-sizing: border-box;
    color: var(--primary-color);
}
.fab {
    font-size: 2.5rem;
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    background-color: #25D366;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    line-height: 1.4em;
}

/*  Button */
.btn-btn {
    text-decoration: none;
    border: solid 2px var(--button-color);
    box-shadow: var(--box-shadow);
    padding: 0.6em 1.3em;
    color: #000;
    margin-top: 1rem;
    background: none;
}
.btn-btn:hover {
    box-shadow: var(--box-shadow);
    transition: all 500ms ease-in-out;
    text-decoration: none;
    color: #000;
    background: var(--button-color);
    cursor: pointer;
}

img {
    max-width: 100%;
}

.container-fluid h3 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  padding-bottom: 3rem;
}

.container-fluid .text-body {
  line-height: 2;
  text-align: center;
  font-size: 1.2rem;
}
.container h3 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  padding-bottom: 3rem;
}

#contactForm {
  background: #000;
  padding:;
}


/*  Navigation Styling*/

header img, footer span img{
  width: 4rem;
  height: 4rem;
  padding: 10px;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: rgba(0, 0, 0, .8);
    width: 100%;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 0.9rem;
}
header nav {
    float: right;
}
header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li {
  padding-top: 10px;
    list-style: none;
    position: relative;
}

header nav ul li ul {
    position: absolute;
    left: 0;
    background: rgba(0, 0, 0, .8);
    display: none;
}
header nav ul li:hover ul {
    display: block;
}
header nav ul li ul li{
    display: block;
    width: 250px;
}
header nav ul li a{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}
header nav ul li a:hover,
header nav ul li a.active{
    color: #fff;
    background: rgba(0, 0, 0, .8);
    text-decoration: none;
}
header nav ul li a .active:active {
    color: var(--button-hover);
}
header nav ul li a:active{
    color: #fff;
    background: var(--button-color);
    text-decoration: none;
}
.menu-toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    display: none;
}


#showCaseContact {
    height: 60vh;
  background: linear-gradient(rgba(0, 0, 75, 0.5), rgba(30, 0, 0, 0.9));
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: #fff;
  overflow: hidden;
}


.showCase-text p{
  font-size: 1em;
}
.showCase-text h1 {
  text-transform: uppercase;
  font-weight: bold;
}


.showCase-text h1 .spacing::before{
  display: block;
  content: '\A';
} 

#showCaseContact .showCase-text h1 .spacing{
  letter-spacing: 1.75rem;
}

#showCaseContact .showCase-text {
  position: relative;
  left: 45rem;
  top: 15rem;
}

/* Slider Area */

#showCase {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 75, 0.5), rgba(30, 0, 0, 0.9)), url(../img/cover.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
/*    justify-content: center;*/
/*    align-items: center;*/
/*    text-align: center;*/
  margin: 0 auto;
  color: #fff;
  overflow: hidden;
}


.showCase-text p{
  font-size: 1em;
}
.showCase-text h1 {
  text-transform: uppercase;
  font-weight: bold;
}


.showCase-text h1 .spacing::before{
  display: block;
  content: '\A';
} 

#showCase .showCase-text h1 .spacing{
  letter-spacing: 1.75rem;
}

#showCase .showCase-text {
  position: relative;
  left: 45rem;
  top: 15rem;
}



.welcome .title {
    font-weight: bold;
    color: var(--nav-background);
    font-style: uppercase;
}

 #wel-text p, #up-event .body-text{
  line-height: 2;
  margin-bottom: 2rem;
}
#up-event .text {
  margin-bottom: 2rem;
}
#up-event p span {
  font-weight: bold;
}
hr {
  margin-top: 5rem;
}

#wel-text .text{
  font-weight: bold;
  font-size: 0.9rem;
}

/*   Gallery */
#showCaseEvent {
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 75, 0.5), rgba(30, 0, 0, 0.9)), url(../img/gallery/img17.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: #fff;
  overflow: hidden;
}

.showCase-text p{
  font-size: 1em;
}
.showCase-text h1 {
  text-transform: uppercase;
  font-weight: bold;
}


.showCase-text h1 .spacing::before{
  display: block;
  content: '\A';
} 

#showCaseEvent .showCase-text h1 .spacing{
  letter-spacing: 1.75rem;
}

#showCaseEvent .showCase-text {
  position: relative;
  left: 45rem;
  top: 15rem;
}

#gallery-card {
  box-shadow: 0 1px 5px rgba(185, 183, 183, 0.8);
  border-radius: 10px;
  padding: 10px 0;
}

/* ABout Section */
#showCaseabout {
  height: 85vh;
  background: linear-gradient(rgba(0, 0, 75, 0.5), rgba(30, 0, 0, 0.9)), url(../img/aboutimg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
/*    justify-content: center;*/
/*    align-items: center;*/
/*    text-align: center;*/
  margin: 0 auto;
  color: #fff;
  overflow: hidden;
}

.showCase-text p{
  font-size: 1em;
}
.showCase-text h1 {
  text-transform: uppercase;
  font-weight: bold;
}


.showCase-text h1 .spacing::before{
  display: block;
  content: '\A';
} 

#showCaseabout .showCase-text h1 .spacing{
  letter-spacing: 1.75rem;
}

#showCaseabout .showCase-text {
  position: relative;
  left: 45rem;
  top: 15rem;
}



.bg-about {
  padding: 3rem;
  box-shadow: 0 1px 5px rgba(185, 183, 183, 0.8);
  font-size: 1rem;
  margin-bottom: 5rem;
}
.bg-about h1 {
  font-size: 1.8rem;
}

.M-V{
  min-height: 40vh;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 75, 0.5), rgba(30, 0, 0, 0.9)), url(../img/m&v.jpg);
  position: sticky;
  background-size: cover;
  background-position: center;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 20px 10px;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.M-V h6 {
  font-weight: bold;
  font-size: 1.8rem;
  color: #d15107;
}
.body-card {
  background: #3e3e3e;
  padding:10px 20px;
  background: rgba(0, 0, 0, .3);
  padding: 10px;
  border-radius: 10px;
  height: 35vh;
  line-height: 1.5;
}

.why-us{
  min-height: 40vh;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 75, 0.5), rgba(30, 0, 0, 0.9)), url(../img/why.jpg);
  position: sticky;
  background-size: cover;
  background-position: center;
  font-size: 1rem;
  padding: 5rem;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.testimonie {
  min-height: 20vh;
  background-image: linear-gradient(rgba(0, 0, 75, 0.5), rgba(30, 0, 0, 0.9));
  position: sticky;
  background-size: cover;
  background-position: center;
  font-size: 1rem;
  padding: 5rem;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.testimonie h1 {
  padding-bottom: 3rem;
  font-size: 2rem;
  color: #d15107;
  font-weight: bold;
}




.why-us h6 {
  font-weight: bold;
  font-size: 1.8rem;
  color: #d15107;
}
.why-us p {
  font-size: 1.3rem;
  
}
#card {
  width: 400px;
}

/*   Our Service */
#showCaseService {
  height: 85vh;
  background: linear-gradient(rgba(0, 0, 75, 0.5), rgba(30, 0, 0, 0.9)), url(../img/aboutimg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
/*    justify-content: center;*/
/*    align-items: center;*/
/*    text-align: center;*/
  margin: 0 auto;
  color: #fff;
  overflow: hidden;
}

.showCase-text p{
  font-size: 1em;
}
.showCase-text h1 {
  text-transform: uppercase;
  font-weight: bold;
}


.showCase-text h1 .spacing::before{
  display: block;
  content: '\A';
} 

#showCaseService .showCase-text h1 .spacing{
  letter-spacing: 1.75rem;
}

#showCaseService .showCase-text {
  position: relative;
  left: 45rem;
  top: 15rem;
}

/*   Our SHOP */
#showCaseShop {
  height: 65vh;
  background: linear-gradient(rgba(0, 0, 75, 0.5), rgba(30, 0, 0, 0.9)), url(../img/shop/high-performance-selling-small.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: #fff;
  overflow: hidden;
}

.showCase-text p{
  font-size: 1em;
}
.showCase-text h1 {
  text-transform: uppercase;
  font-weight: bold;
}


.showCase-text h1 .spacing::before{
  display: block;
  content: '\A';
} 

#showCaseShop .showCase-text h1 .spacing{
  letter-spacing: 1.75rem;
}

#showCaseShop .showCase-text {
  position: relative;
  left: 45rem;
  top: 15rem;
}


.our-product {
    margin: ;
    padding: 5px;
    text-transform: uppercase;
}

/* Event Gallery Section*/
.event-gallery{
    padding: 10px;
}

.textArea{
    line-height: 0.8em;
}


.event {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.event-title {
    padding-top: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
}


.img-event {
  transition: all 500ms ease-in-out;
}

.img-event:hover {
  transition: all 500ms ease-in-out;
  transform: scale(1);
}

.fas {
  color: #333;
}

/*  Reason Section*/
.row-height {
  margin-top: ;
}
#bg-img1 {
  background-image: url(../img/4reason/img1.jpg);
  background-position: center;
  background-size: cover;
  height: 70vh;
  opacity: 0.6;
  transition: all 500ms ease-in-out;
}
#bg-img1:hover {
  opacity: 1;
  transition: all 500ms ease-in-out;
  transform: scale(0.9);
}
#bg-reason1 {
  background: rgba(226, 196, 96, 0.9);
  display: flex;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #fff;
}
#bg-reason1 h1 {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
}
#bg-reason1 p {
  font-size: 1.3rem;

}

/*IMAGE 2*/
#bg-img2 {
  background-image: url(../img//4reason/img2.jpg);
  background-position: center;
  background-size: cover;
  height: 70vh;
  opacity: 0.6;
  transition: all 500ms ease-in-out;
}
#bg-img2:hover {
  opacity: 1;
  transition: all 500ms ease-in-out;
  transform: scale(0.9);
}
#bg-reason2 {
  background: rgba(226, 196, 96, 0.9);
  display: flex;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #fff;
}
#bg-reason2 h1 {
  color: #000;
  font-size: 1.5rem;
}
#bg-reason2 p {
  font-size: 1.3rem;
}

/*IMAGE 3*/
#bg-img3 {
  background-image: url(../img/4reason/img3.jpg);
  background-position: center;
  background-size: cover;
  height: 70vh;
  opacity: 0.6;
  transition: all 500ms ease-in-out;
}
#bg-img3:hover {
  opacity: 1;
  transition: all 500ms ease-in-out;
  transform: scale(0.9);
}
#bg-reason3 {
  background: rgba(226, 196, 96, 0.9);
  display: flex;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #fff;
}
#bg-reason3 h1 {
  color: #000;
  font-size: 1.5rem;
}
#bg-reason3 p {
  font-size: 1.3rem;
}
/*IMAGE 4*/
#bg-img4 {
  background-image: url(../img/4reason/img4.jpg);
  background-position: center;
  background-size: cover;
  height: 70vh;
  opacity: 0.6;
  transition: all 500ms ease-in-out;
}
#bg-img4:hover {
  opacity: 1;
  transition: all 500ms ease-in-out;
  transform: scale(0.9);
}
#bg-reason4 {
  background: rgba(226, 196, 96, 0.9);
  display: flex;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #fff;
}
#bg-reason4 h1 {
  color: #000;
  font-size: 1.5rem;
}
#bg-reason4 p {
  font-size: 1.3rem;
}

#bg-notice {
  text-align: center;
  height: 40vh;
  padding: 2rem;
}

#bg-notice img {
  height: 150px;
  width: 200px;
  border-radius: 20px;
}

#bg-notice h1{
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--button-hover);
}
#bg-notice p{
  font-size: 1.5rem;
}
#bg-notice p a{
  text-decoration: none;
  border-bottom: solid 3px var(--button-hover);
  font-weight: bold;
  color: #000;
}

/* SubScribe Section */
.subscribe{
    min-height: 50vh;
    display: flex;
    background-image: url(../img/body.jpg);
    position: sticky;
    background-size: cover;
    background-position: center;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    padding: 10rem;
    justify-content: center;
    text-align: center;
}
.subscribe form {
    width: 100%;
}
.subscribe .sub-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem; 
    color: #fff;
    background: #3e3e3e;
    padding:10px 20px;
    background: rgba(0, 0, 0, .6);
}
.subscribe form input {
    border: none;
    width: 50vw;
    height: 50px;
    padding: 5px;
}
.subscribe form input[type="email"] {
    font-size: 1rem;
}
.subscribe button{
    height: 50px;
    text-decoration: none;
    box-shadow: var(--box-shadow);
    padding: 0.6em 1.3em;
    background: var(--button-color);
    border: none;
    font-size: 1.3rem;
    margin-top: 0.3rem;
}


#teamlink .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    line-height: 1em;
}
.container .team {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 5rem;
}
.card img {
    width: 100%;
    transform: scale(0.9);
    border-radius: 5px;
}
.card img:hover {
    transform: scale(1);
    transition: all 300ms ease-in-out;
    border-radius: 10px;
}
.card .title{
    color: grey;
    font-size: 1em;
}
.card h1 {
    padding: 3px;
    font-size: 1.5em;
}
.card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background: var(--button-color);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
.card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
.social {
    margin: 24px 0;
}

button:hover, a:hover {
    opacity: 0.7;
    }

/* Contact Form*/
  .background {
    display: flex;
    min-height: 80vh;
    background: linear-gradient(rgba(0, 0, 75, 0.5), rgba(30, 0, 0, 0.5));
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
    padding: 5rem;
  }
  
  .container {
    flex: 0 1 800px;
    margin: auto;
    padding: 5px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right:;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #ed1c6f;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 10px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--button-color);
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 35px;
    height: 4px;
    background: var(--button-hover);
  }
  
  .app-contact {
    margin-top: 10rem;
    font-size: 12px;
    color: #fff;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 50px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: var(--button-color);
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: var(--button-hover);
  }
  
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }

.bg-footer{
    min-height: 50vh;
    padding: 5rem;
    background: var(--nav-background);
    color: #ada9a9;
}
.bg-small {
    background: rgb(83, 81, 81);
}
.bg-small p {
    margin-top: 10px;
    color: #dddada;
    padding-left: 3rem;
}
footer ul li a{
    text-decoration: none;
    color: #ada9a9;
    list-style: none;
}

footer ul li a:hover{
  text-decoration: none;
  color: #d15107;
}
footer ul li{
  margin-left: 0px;
}
footer ul {
  list-style-type: none;
  padding-inline-start: 0;
}
footer h6 {
  font-weight: bold;
  padding-top: 2rem;
}

footer h6::after {
  content: '';
  display: block;
  width: 2rem; 
  background-color: #d15107;
  height: 2px;
}

footer .cw-about, footer ul li {
  font-size: 0.8rem;
  line-height: 1.8;
}

footer h5 {
  font-weight: bold;
  border-bottom: solid 2px #d15107;
  
}

footer .company {
  color: #d8bd63;
  font-size: 1.9rem;
  text-transform: uppercase;
  width: 30vw;
}

footer span img{
  padding: 0;
  width: 40px;
  height: 40px;
}

.modalx {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ebe5e5;
  padding: 1rem 1.5rem;
  width: 40rem;
  border-radius: 0.5rem;
}
.modal-content h4 {
  text-align: center;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #daa520;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.trigger {
  text-decoration: none;
    border: solid 2px var(--button-color);
    box-shadow: var(--box-shadow);
    padding: 0.6em 1.3em;
    color: #000;
    margin-top: 1rem;
}
  
.trigger:hover {
    box-shadow: var(--box-shadow);
    transition: all 500ms ease-in-out;
    text-decoration: none;
    color: #000;
    background: var(--button-color);
    cursor: pointer;
}













  
  @media screen and (max-width: 768px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }

    .bg-footer {
      padding: 2rem;
    }
    footer .cw-about, footer ul li {
      font-size: 1rem;
      line-height: 1.8;
    }
    footer .company span::after, footer .company .spread::after{
      content: '\A';
      display: block;
    }
    footer .company {
      text-align: center;
      line-height: 1.2;
      width: 80vw;
    }

    footer span img{
      padding: 0;
      width: 5rem;
      height: 5rem;
    }

    footer .company .spread {
      letter-spacing: 1.27rem;
      padding-left: 0.9rem;
    }
    
    .background {
      padding: 1rem;
    }

    .subscribe form button{
      width: 70vw;
    }
    .subscribe form input {
        width: 80vw;
    }

    #bg-notice h1{
      font-size: 1.7rem;
    }
    #bg-notice p{
      font-size: 1rem;
    }

    #bg-reason1 h1, #bg-reason2 h1,  #bg-reason3 h1,  #bg-reason4 h1{
      font-size: 1rem;
      padding-top: 0.5rem
    }
    #bg-reason1 p, #bg-reason2 p, #bg-reason3 p, #bg-reason4 p{
      font-size: 0.8rem;
    }

    .container-fluid h3 {
      font-size: 1.2rem;
      padding: 1.5rem 0;
    }
    
    .container-fluid .text-body {
      font-size: 1rem;
    }

    #wel-text p, #up-event .body-text{
      margin-bottom: 1rem;
      padding: 0 1rem;
    }

    #wel-text .title{
      padding-left: 1rem;
      font-size: 1.5rem;
    }
    #up-event .text{
      margin-bottom: 1rem;
      padding: 0 1rem;
    }

    #up-event .btn-btn, #wel-text .btn-btn{
      margin-left: 1rem;
    }

    #up-event p:nth-of-type(3), #wel-text p:nth-of-type(1){
      margin-bottom: 2rem;
    }

    .upcoming-title, .event-title {
      padding: 0 1rem;
    }

    .upcoming-title{
      font-size: 1.5rem;
    }

    .welcome .row div:nth-of-type(1){
      padding: 5rem;
    }

    #showCase .showCase-text {
      position: unset;
    }

    .event-title{
      font-size: 1.2rem;
    }

    #showCase {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 auto;
      overflow: hidden;
  }
  #showCase p {
      font-size: 1.2em;
  }


  }




@media screen and (max-width: 991px){
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(80vh - 40px);
        background: var(--nav-background);
        top: 50px;
        left: -100%;
        transition:   0.8s;
        opacity: 0.9;
    }
    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li a {
        border-bottom: solid 1px rgba(0,0,0,.2);
    }
    header nav ul li .active ul {
        position: relative;
        background: var(--nav-background);
    }
    header nav ul li ul li {
        width: 100%;
    }
    
} 
 